@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;

.fa-bars,
.fa-times {
  color: $primary-color1;
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
  @include tablet-breakpoint {
    position: relative;
    @include flex-wrap(row, space-between);
    max-width: toRem(1020);
    margin: auto;
  }
  @include desktop-breakpoint {
    margin: auto;
  }

  &__wrapper {
    @include flex-wrap(row, space-between);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $background-primary-color;
    padding: 10px 20px;
    min-height: toRem(70);
    @include tablet-breakpoint {
      height: toRem(80);
      position: relative;
      width: fit-content;
      padding: 0;
      margin-left: toRem(32);
    }
  }

  &__logo {
    height: toRem(50);
    @include tablet-breakpoint {
      height: toRem(60);
    }
  }
  &__login,
  &__sign-up {
    width: 100%;
    // text-align: center;
    margin: 0 auto 10px auto;
    padding-bottom: toRem(5);
    border-bottom: 1px $primary-color1 solid;
    &:hover {
      color: $secondary-color1;
    }
    @include tablet-breakpoint {
      @include button;
      margin: 0;
    }
  }
  &__sign-up {
    @include tablet-breakpoint {
      @include button;
      margin-left: toRem(20);
    }
  }
  &__navbar {
    position: absolute;
    top: 0;
    transform: translateY(-30%);
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: $background-primary-color;
    padding: 10px 5%;
    margin-left: auto;
    transition: transform 0.5s linear;
    @include flex-wrap;

    @include tablet-breakpoint {
      position: relative;
      width: calc(100% - toRem(182));
      @include flex-wrap(row, flex-end);
      padding: 0;
      margin-right: toRem(32);
      transform: translateY(0%);
    }

    &--active {
      transform: translateY(74%);
      border-top: 1px $primary-color1 solid;
    }
  }
  &__navbar-icon {
    width: 50px;
    margin: 8px;
    padding: 3.5px 10px 2px 11.5px;
    border-radius: 4px;
    @include flex-wrap;
    cursor: pointer;
    @include tablet-breakpoint {
      display: none;
    }
  }
}
