@use "./variables" as *;
@use "./functions" as *;

@mixin text-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin flex-wrap($direction: column, $just-content: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just-content;
  align-items: $align;
  flex-wrap: wrap;
}

// @mixin toRem($property, $value) {
//   #{$property}: ($value / 16) + rem;
// }

@mixin button {
  border-radius: 50px;
  width: fit-content;
  border: 2px solid $primary-color1;
  text-align: center;
  padding: toRem(5) toRem(20);
  margin-left: 10px;
  background-color: $background-primary-color;
  text-decoration: none;

  &:hover {
    background-color: $background-secondary-color;
    color: $font-primary-color;
    text-decoration: none;
  }
}

@mixin button-highlight {
  @include button;
  background-color: $primary-color1;
  color: $font-supplementary-color;

  &:hover {
    background-color: $primary-color2;
    border-color: $primary-color2;
    color: $font-supplementary-color;
  }
}

@mixin input {
  border-radius: 8px;
  border: 2px solid $primary-color1;
  padding: toRem(5) toRem(10);
  margin: toRem(10);
  background-color: $background-primary-color;
  text-decoration: none;

  &:focus {
    background-color: $background-secondary-color;
    color: $font-primary-color;
    text-decoration: none;
  }
}

@mixin tablet-breakpoint {
  @media screen and (min-width: $tablet-screensize) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media screen and (min-width: $desktop-screensize) {
    @content;
  }
}
