@use "./variables" as *;
@use "./functions" as *;

@mixin text-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin flex-wrap($direction: column, $just-content: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just-content;
  align-items: $align;
  flex-wrap: wrap;
}

// @mixin toRem($property, $value) {
//   #{$property}: ($value / 16) + rem;
// }

@mixin button {
  border-radius: 50px;
  width: fit-content;
  border: 2px solid $primary-color1;
  text-align: center;
  padding: toRem(5) toRem(20);
  margin-left: 10px;
  background-color: $background-primary-color;
  text-decoration: none;

  &:hover {
    background-color: $background-secondary-color;
    color: $font-primary-color;
    text-decoration: none;
  }
}

@mixin button-highlight {
  @include button;
  background-color: $primary-color1;
  color: $font-supplementary-color;

  &:hover {
    background-color: $primary-color2;
    border-color: $primary-color2;
    color: $font-supplementary-color;
  }
}

@mixin input {
  border-radius: 4px;
  border: 2px solid $primary-color1;
  padding: toRem(8) toRem(10);
  margin: toRem(4) 0;
  background-color: $background-primary-color;
  width: 100%;
  max-width: toRem(400);
  @include text-style(toRem(14), toRem(16), $font-regular);
  font-family: "Montserrat", sans-serif;

  @include tablet-breakpoint {
    @include text-style(toRem(16), toRem(18), $font-regular);
  }

  &:focus {
    background-color: $background-secondary-color;
    color: $font-primary-color;
  }
  &::placeholder {
    @include text-style(toRem(12), toRem(14), $font-regular);
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    @include tablet-breakpoint {
      @include text-style(toRem(14), toRem(16), $font-regular);
    }
  }
}

@mixin label {
  // display: block;
  margin-bottom: toRem(16);
  @include flex-wrap(column, flex-start, flex-start);
  @include text-style(toRem(14), toRem(16), $font-demi);
  @include tablet-breakpoint {
    @include text-style(toRem(16), toRem(18), $font-demi);
  }
}

@mixin tablet-breakpoint {
  @media screen and (min-width: $tablet-screensize) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media screen and (min-width: $desktop-screensize) {
    @content;
  }
}

@mixin title {
  @include text-style(toRem(32), toRem(34), $font-demi);
  overflow: visible;
  @include tablet-breakpoint {
    @include text-style(toRem(44), toRem(46), $font-bold);
  }
}
