// Primary Colors
$black: #343a40;
$dark-black: #000000;

$white: #ffffff;
$off-white: #f9fcfb;

$light-green: #b0eacd;
$green: #21bf73;

$font-primary-color: #343a40;
$font-secondary-color: #007965;
$font-supplementary-color: #ffffff;

$background-primary-color: #ffffff;
$background-secondary-color: #e9fcf2;

$primary-color1: #00af91;
$primary-color2: #007965;
$secondary-color1: #f58634;
$secondary-color2: #ffcc29;

$alert: #fd5e53;

// Font Weight
$font-regular: 400;
$font-demi: 600;
$font-bold: 700;

// Screen sizes
$tablet-screensize: 768px;
$desktop-screensize: 1280px;
