@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;
.label-box {
  width: 100%;
  @include tablet-breakpoint {
    @include flex-wrap(row, flex-start);
  }
}
.label {
  @include flex-wrap(row, space-between);
  margin: toRem(8) 0;
  width: 100%;
  @include tablet-breakpoint {
    width: 60%;
  }
  &__mandatory-wrapper {
    width: calc(100% - toRem(25));
    @include flex-wrap(row, space-between, flex-end);

    @include tablet-breakpoint {
      @include text-style(toRem(14), toRem(16), $font-regular);
    }
  }
  &__optional-wrapper {
    width: 100%;
    @include flex-wrap(row, space-between);
    margin: toRem(4) 0 toRem(16) 0;
    @include text-style(toRem(12), toRem(14), $font-regular);

    @include tablet-breakpoint {
      @include text-style(toRem(14), toRem(16), $font-regular);
      width: 40%;
      margin: 0;
    }
  }

  &__name {
    width: 60%;
    @include input-grocery;
    text-align: start;
  }
  &__qty {
    @include input-grocery;
    width: 15%;
    @include tablet-breakpoint {
      width: 10%;
    }
  }
  &__unit {
    cursor: pointer;
    @include input-grocery;
    width: 15%;
  }
  &__category {
    cursor: pointer;
    @include input-grocery;
    margin-left: toRem(25);
    width: 30%;

    @include tablet-breakpoint {
      width: 40%;
      margin: 0 0 0 auto;
    }
  }
  &__shelf {
    @include input-grocery;
    margin: 0 auto;
    width: 35%;

    @include tablet-breakpoint {
      width: 40%;
    }
  }
  &__checkbox-wrapper {
    background-color: red;
    display: block;
    position: relative;
    cursor: pointer;
    height: toRem(15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & .label__custom-checkbox:after {
      left: toRem(3.5);
      top: toRem(0);
      width: toRem(4);
      height: toRem(8);
      border: solid $background-primary-color;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(40deg);
    }
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .label__custom-checkbox {
      background-color: rgba($color: $primary-color1, $alpha: 0.5);
      border-color: $primary-color1;
      &:after {
        display: block;
      }
    }
  }
  &__custom-checkbox {
    margin-right: toRem(4);
    position: absolute;
    top: 0;
    left: 0;
    height: toRem(15);
    width: toRem(15);
    border-radius: 4px;
    border: 1px solid rgba($color: $font-primary-color, $alpha: 0.8);
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__info {
    margin-left: auto;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    @include tablet-breakpoint {
      order: -1;
      margin-left: toRem(8);
      margin-right: auto;
    }
  }
  &__info-icon {
    margin: 0 toRem(4) 0 auto;
    @include tablet-breakpoint {
      margin: 0 auto 0 toRem(4);
    }
    &--delete {
      cursor: pointer;
      color: $alert;
      align-self: flex-start;
      @include text-style(toRem(12), toRem(14), $font-regular);

      @include tablet-breakpoint {
        @include text-style(toRem(14), toRem(16), $font-regular);
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
.label__qty::-webkit-outer-spin-button,
.label__qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.label__qty[type="number"] {
  -moz-appearance: textfield;
}

.label__shelf {
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 0;
    margin-left: toRem(4);
  }
}
