@use "../../styles/partials/variables" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/mixins" as *;

.card-section {
  width: 100%;
  &__wrapper {
    padding: toRem(40) toRem(20);
    @include flex-wrap(row, space-around);

    @include tablet-breakpoint {
      // @include flex-wrap(row, space-between);

      padding: toRem(40) toRem(32) 0 toRem(32);
      max-width: toRem(1020);
      margin: 0 auto;
    }
    @include desktop-breakpoint {
      margin: auto;
      padding: toRem(80) toRem(32) toRem(20) toRem(32);
    }
  }
}
