@use "../../styles/partials/variables" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/mixins" as *;

.card-section {
  padding: toRem(40) toRem(20);
  @include tablet-breakpoint {
    @include flex-wrap(row, space-evenly);
    padding: toRem(40) 5% 0 5%;
  }
  @include desktop-breakpoint {
    max-width: toRem(1280);
    margin: auto;
    padding: toRem(60) 5% toRem(20) 5%;
  }
}
