@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;

.card {
  @include flex-wrap(row, space-between);
  margin-bottom: toRem(40);
  &__title {
    // text-align: center;
    // width: calc(55% - toRem(30));
    width: 48%;
    max-width: toRem(380);
    max-height: toRem(245);
    font-size: toRem(20);
    // margin: 0 toRem(15);
    &--right {
      order: 1;
      // text-align: right;
    }
  }
  &__image {
    width: 48%;
    height: 30vw;
    object-fit: cover;
    border-radius: 4px;
  }
}
