@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;

.ing-grocery {
  margin-bottom: toRem(100);
  @include tablet-breakpoint {
    margin-bottom: 0;
  }
  &__wrapper {
    margin-top: toRem(80);
    padding: toRem(40) 5% toRem(126) 5%;
    @include tablet-breakpoint {
      margin-left: toRem(93);
      // max-width: toRem(1460);
      max-width: toRem(1364);
      padding: toRem(40);
      @include flex-wrap;
    }
    &--access {
      margin-top: toRem(150);
      text-align: center;
    }
  }

  &__content-wrapper {
    border-radius: 4px;
    border: 1px solid rgba($color: $primary-color2, $alpha: 0.5);
    max-width: toRem(800);
    width: 100%;
    @include flex-wrap(column, flex-start, flex-start);
    // padding: toRem(16);
  }
  &__description-wrapper {
    @include flex-wrap(row, space-between);
    width: 100%;
    padding: toRem(16);
    // z-index: -1;
    @include text-style(toRem(18), toRem(20), $font-demi);
    @include tablet-breakpoint {
      @include text-style(toRem(22), toRem(24), $font-demi);
    }
  }

  &__link {
    @include text-style(toRem(16), toRem(18), $font-regular);
    @include flex-wrap(row, space-between);
    width: 100%;
    padding: toRem(16);
    color: rgba($color: $font-primary-color, $alpha: 0.5);
    &:hover {
      color: $font-primary-color;
      background-color: $background-secondary-color;
    }
    @include tablet-breakpoint {
      @include text-style(toRem(20), toRem(22), $font-regular);
    }
  }
}

.grocery-form {
  width: 100%;
  // padding: 0 toRem(16) toRem(16) toRem(16);
  @include flex-wrap(column, flex-start, flex-start);
  box-shadow: -2px 2px 5px rgba(0 0 0 / 10%);
  // position: relative;
  // z-index: -1;
  &__ing-wrapper {
    padding: toRem(16) toRem(16) 0 toRem(16);
    width: 100%;
  }
  &__buttons-wrapper {
    margin-top: toRem(8);
    width: 100%;
    @include flex-wrap(row, space-between, flex-end);
  }

  &__button-add {
    @include button;
    border-width: 1px;
    margin: toRem(8) toRem(16) toRem(16) auto;
    cursor: pointer;

    @include text-style(toRem(14), toRem(16), $font-regular);
    @include tablet-breakpoint {
      @include text-style(toRem(16), toRem(18), $font-regular);
    }
  }
  &__buttons-top,
  &__buttons-bottom {
    width: 100%;
    @include flex-wrap(row, flex-start, stretch);
    height: auto;
  }
  &__button-save--top,
  &__button-pantry--top,
  &__button-save--bottom,
  &__button-pantry--bottom {
    cursor: pointer;
    background-color: $background-secondary-color;
    font-family: "Montserrat", sans-serif;
    border: none;
    text-align: center;
    padding: toRem(8);
    border-bottom: 1px solid rgba($color: $primary-color2, $alpha: 0.5);

    @include text-style(toRem(14), toRem(16), $font-demi);
    @include tablet-breakpoint {
      @include text-style(toRem(16), toRem(18), $font-demi);
    }
    &:hover {
      background-color: rgba($color: $primary-color1, $alpha: 0.5);
    }
  }
  &__button-save--top,
  &__button-save--bottom {
    width: 40%;
    display: inline-block;
    border-radius: 4px 0 0 0;
    border-right: 1px solid rgba($color: $primary-color2, $alpha: 0.3);
    // align-self: stretch;
  }
  &__button-pantry--top,
  &__button-pantry--bottom {
    display: inline-block;
    width: 60%;
    border-radius: 0 4px 0 0;
  }
  &__button-save--bottom {
    border-radius: 0 0 0 4px;
    border: none;
    border-right: 1px solid rgba($color: $primary-color2, $alpha: 0.3);
    border-top: 1px solid rgba($color: $primary-color2, $alpha: 0.3);
  }
  &__button-pantry--bottom {
    border-radius: 0 0 4px 0;
    border: none;
    border-top: 1px solid rgba($color: $primary-color2, $alpha: 0.3);
  }
}

.list-form {
  padding: 0 toRem(8);
  @include flex-wrap(row, space-between, flex-end);
  max-width: toRem(798);
  width: 100%;
  &__title {
    padding-top: toRem(8);

    width: calc(100% - toRem(120));
    border: none;
    border-bottom: 1px solid $primary-color1;
    background-color: $background-secondary-color;
    border-radius: 4px 4px 0 0;
    @include title;
    margin-bottom: toRem(40);
    font-family: "Montserrat", sans-serif;
    &--error {
      background-color: rgba($color: $alert, $alpha: 0.2);
      border-bottom: 1px solid $alert;
    }
  }
  &__share {
    display: block;
    margin: 0 0 toRem(8) toRem(24);
    // padding-left: toRem(8);
    @include text-style(toRem(14), toRem(16), $font-regular);
    @include tablet-breakpoint {
      @include text-style(toRem(18), toRem(20), $font-regular);
    }
  }
  &__share-input {
    font-family: "Montserrat", sans-serif;
    padding: toRem(8) toRem(8) 0 toRem(8);
    border: none;
    border-bottom: 1px solid $primary-color1;
    background-color: $background-secondary-color;
    @include text-style(toRem(14), toRem(16), $font-regular);
    @include tablet-breakpoint {
      @include text-style(toRem(18), toRem(20), $font-regular);
    }
    &--error {
      background-color: rgba($color: $alert, $alpha: 0.2);
      border-bottom: 1px solid $alert;
    }
  }
  &__button {
    //   @extend .ing-grocery__edit;
    // cursor: pointer;
    @include text-style(toRem(14), toRem(16), $font-regular);
    // text-decoration: underline;
    // margin-right: toRem(16);
    // &:hover {
    //   color: $primary-color1;
    // }
    // margin-bottom: toRem(40);
    // border: none;
    // background-color: transparent;
    @include tablet-breakpoint {
      @include text-style(toRem(18), toRem(20), $font-regular);
    }
    @include button;
    cursor: pointer;
    // @include text-style(toRem(16), toRem(18), $font-regular);
    // text-decoration: underline;
    // margin-right: toRem(16);
    &:hover {
      // color: $primary-color1;
    }
    margin-bottom: toRem(40);

    @include tablet-breakpoint {
      // @include text-style(toRem(20), toRem(22), $font-regular);
    }
  }
  &__alert {
    display: inline-block;
    @include text-style(toRem(12), toRem(14), $font-regular);
    color: $alert;
    height: max-content;
    &-icon {
      margin: 0 toRem(10);
    }
  }
  &__share-remove {
    font-family: "Montserrat", sans-serif;
    padding: toRem(4);
    border: 1px solid $primary-color1;
    border-radius: 4px;
    background-color: $background-secondary-color;
    @include text-style(toRem(12), toRem(14), $font-regular);
    @include tablet-breakpoint {
      @include text-style(toRem(16), toRem(18), $font-regular);
    }
  }
}

.ing-grocery {
  &__title-wrapper {
    @include flex-wrap(row, space-between, flex-end);
    max-width: toRem(798);
    width: 100%;
    padding: 0 toRem(8);
  }
  &__title {
    padding-top: toRem(8);
    width: calc(100% - toRem(120));
    @include title;
    margin-bottom: toRem(40);
    border-bottom: 1px solid transparent;
  }
  &__edit {
    @include button;
    cursor: pointer;
    // @include text-style(toRem(16), toRem(18), $font-regular);
    // text-decoration: underline;
    // margin-right: toRem(16);
    &:hover {
      // color: $primary-color1;
    }
    @include text-style(toRem(14), toRem(16), $font-regular);

    margin-bottom: toRem(40);

    @include tablet-breakpoint {
      @include text-style(toRem(18), toRem(20), $font-regular);

      // @include text-style(toRem(20), toRem(22), $font-regular);
    }
  }
  &__shared,
  &__owner,
  &__owner-form {
    margin-bottom: toRem(8);
    // padding: 0 toRem(8);
    width: 100%;
    @include text-style(toRem(16), toRem(18), $font-regular);
    @include tablet-breakpoint {
      @include text-style(toRem(18), toRem(20), $font-regular);
      width: 50%;
    }
  }
  &__owner,
  &__owner-form {
    margin: toRem(16) 0;
    @include tablet-breakpoint {
      margin: toRem(16) 0 toRem(8) 0;
    }
  }
  &__owner {
    @include tablet-breakpoint {
      text-align: right;
    }
  }
  &__comments {
    width: 100%;
    max-width: toRem(798);
    margin-top: toRem(8);
    padding: 0 toRem(8);
    @include text-style(toRem(12), toRem(14), $font-regular);
  }
}

// .list-form__button {
//   @extend .ing-grocery__edit;
//   // cursor: pointer;
//   // @include text-style(toRem(16), toRem(18), $font-regular);
//   // text-decoration: underline;
//   // margin-right: toRem(16);
//   // &:hover {
//   //   color: $primary-color1;
//   // }
//   // margin-bottom: toRem(40);
//   // border: none;
//   // background-color: transparent;
//   // @include tablet-breakpoint {
//   //   @include text-style(toRem(20), toRem(22), $font-regular);
//   // }
// }
