@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;

.footer {
  background-color: $background-secondary-color;
  padding: toRem(15);
  &__copyright {
    text-align: center;
    font-size: toRem(15);
    font-weight: $font-demi;

    &--break {
      margin-top: toRem(10);
      text-align: center;
      display: block;
    }
  }
}
